parameters:
	ignoreErrors:
		-
			message: '''
				#^Call to deprecated method get\(\) of class Shopware\\Core\\Framework\\DataAbstractionLayer\\Entity\:
				tag\:v6\.7\.0 \- reason\:exception\-change Thrown exception will change from InternalFieldAccessNotAllowedException to DataAbstractionLayerException$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Content/ProductExport/Provider/AbstractAgenticCommerceProductExportProvider.php

		-
			message: '''
				#^Call to deprecated method get\(\) of class Shopware\\Core\\Framework\\DataAbstractionLayer\\Entity\:
				tag\:v6\.7\.0 \- reason\:exception\-change Thrown exception will change from InternalFieldAccessNotAllowedException to DataAbstractionLayerException$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Content/ProductExport/Subscriber/AgenticCommerceProductExportProviderContextSubscriber.php

		-
			message: '''
				#^Call to deprecated method get\(\) of class Shopware\\Core\\Framework\\DataAbstractionLayer\\Entity\:
				tag\:v6\.7\.0 \- reason\:exception\-change Thrown exception will change from InternalFieldAccessNotAllowedException to DataAbstractionLayerException$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Content/ProductExport/Validator/AbstractProviderValidator.php

		-
			message: '#^Use explicit names over dynamic ones$#'
			count: 1
			path: src/Content/ProductExport/Validator/GoogleProductExportValidator.php

		-
			message: '''
				#^Access to deprecated property \$xsdFile of class Shopware\\Core\\System\\SystemConfig\\Util\\ConfigReader\:
				tag\:v6\.7\.0 \- Will be natively typed$#
			'''
			identifier: property.deprecated
			count: 1
			path: src/System/SystemConfig/CompatConfigReader.php

		-
			message: '#^Call to function method_exists\(\) with Shopware\\Core\\System\\SalesChannel\\SalesChannelContext and ''getCustomerGroupId'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Ucp/Customer/GuestCustomerContextProvisioner.php

		-
			message: '#^Do not use hash function, use class Shopware\\Core\\Framework\\Util\\Hasher instead\.$#'
			identifier: shopware.hasher
			count: 1
			path: src/Ucp/Identity/DoctrineDbalUcpOAuthStore.php

		-
			message: '#^Do not use hash function, use class Shopware\\Core\\Framework\\Util\\Hasher instead\.$#'
			identifier: shopware.hasher
			count: 1
			path: src/Ucp/Identity/ShopwareIdentityLinkingAdapter.php

		-
			message: '#^Method Swag\\AgenticCommerce\\Ucp\\Config\\UcpConfigRepositoryInterface@anonymous/tests/Integration/EmbeddedResponseListenerTest\.php\:69\:\:find\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: tests/Integration/EmbeddedResponseListenerTest.php

		-
			message: '''
				#^Call to deprecated method getEntityName\(\) of class Swag\\AgenticCommerce\\Content\\ProductExport\\Tracking\\Extension\\CustomerSalesChannelTrackingExtension\:
				tag\:v6\.7\.0 \- reason\:visibility\-change \- Becomes abstract$#
			'''
			identifier: method.deprecated
			count: 1
			path: tests/Unit/Content/ProductExport/Tracking/Extension/CustomerSalesChannelTrackingExtensionTest.php

		-
			message: '''
				#^Call to deprecated method getEntityName\(\) of class Swag\\AgenticCommerce\\Content\\ProductExport\\Tracking\\Extension\\OrderSalesChannelTrackingExtension\:
				tag\:v6\.7\.0 \- reason\:visibility\-change \- Becomes abstract$#
			'''
			identifier: method.deprecated
			count: 1
			path: tests/Unit/Content/ProductExport/Tracking/Extension/OrderSalesChannelTrackingExtensionTest.php

		-
			message: '''
				#^Call to deprecated method getEntityName\(\) of class Swag\\AgenticCommerce\\Content\\ProductExport\\Tracking\\Extension\\SalesChannelProductExportTrackingExtension\:
				tag\:v6\.7\.0 \- reason\:visibility\-change \- Becomes abstract$#
			'''
			identifier: method.deprecated
			count: 1
			path: tests/Unit/Content/ProductExport/Tracking/Extension/SalesChannelProductExportTrackingExtensionTest.php

		-
			message: '#^Multiple class/interface/trait is not allowed in single file$#'
			count: 1
			path: tests/Unit/UcpConfigServiceTest.php

		-
			message: '#^Multiple class/interface/trait is not allowed in single file$#'
			count: 1
			path: tests/Unit/UcpExtensionCapabilityTest.php

		-
			message: '#^Class like namespace "Mcp\\Capability\\Attribute" does not follow PSR\-4 configuration in composer\.json$#'
			identifier: check.classnamespacepsr4
			count: 1
			path: tests/phpstan/McpTool.php
