parameters:
	ignoreErrors:
		-
			message: '''
				#^Call to deprecated method get\(\) of class Shopware\\Core\\Framework\\DataAbstractionLayer\\Entity\:
				tag\:v6\.7\.0 \- reason\:exception\-change Thrown exception will change from InternalFieldAccessNotAllowedException to DataAbstractionLayerException$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Content/ProductExport/Provider/AbstractAgenticCommerceProductExportProvider.php

		-
			message: '''
				#^Call to deprecated method get\(\) of class Shopware\\Core\\Framework\\DataAbstractionLayer\\Entity\:
				tag\:v6\.7\.0 \- reason\:exception\-change Thrown exception will change from InternalFieldAccessNotAllowedException to DataAbstractionLayerException$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Content/ProductExport/Subscriber/AgenticCommerceProductExportProviderContextSubscriber.php

		-
			message: '''
				#^Call to deprecated method get\(\) of class Shopware\\Core\\Framework\\DataAbstractionLayer\\Entity\:
				tag\:v6\.7\.0 \- reason\:exception\-change Thrown exception will change from InternalFieldAccessNotAllowedException to DataAbstractionLayerException$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Content/ProductExport/Validator/AbstractProviderValidator.php

		-
			message: '#^Use explicit names over dynamic ones$#'
			count: 1
			path: src/Content/ProductExport/Validator/GoogleProductExportValidator.php

		-
			message: '#^Migrations must be flagged @internal to not be captured by the BC checker\.$#'
			identifier: shopware.internalClass
			count: 1
			path: src/Migration/Migration1780328112CreateUcpConfigTable.php

		-
			message: '#^Call to static method isAvailableByClass\(\) on an unknown class Swag\\AgenticCommerce\\AgenticFiles\\CoreSalesChannelFileFeature\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/config/services.php

		-
			message: '#^Class Swag\\AgenticCommerce\\AgenticFiles\\AgenticFilesCoreBridgeInterface not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/config/services.php

		-
			message: '#^Class Swag\\AgenticCommerce\\AgenticFiles\\CoreSalesChannelFileBridge not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/config/services.php

		-
			message: '#^Class Swag\\AgenticCommerce\\AgenticFiles\\CoreSalesChannelFileSyncSubscriber not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/config/services.php

		-
			message: '#^Class Swag\\AgenticCommerce\\AgenticFiles\\Fallback\\FallbackAgenticFileController not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/config/services.php

		-
			message: '#^Class Swag\\AgenticCommerce\\AgenticFiles\\Fallback\\FallbackAgenticFileRenderer not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/config/services.php

		-
			message: '#^Class Swag\\AgenticCommerce\\AgenticFiles\\Fallback\\RemoveLeadingSpacesTwigExtension not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Resources/config/services.php

		-
			message: '''
				#^Access to deprecated property \$xsdFile of class Shopware\\Core\\System\\SystemConfig\\Util\\ConfigReader\:
				tag\:v6\.7\.0 \- Will be natively typed$#
			'''
			identifier: property.deprecated
			count: 1
			path: src/System/SystemConfig/CompatConfigReader.php

		-
			message: '#^Method Context\:\:createDefaultContext\(\) should not be used in CLI context\. Use Context\:\:createCLIContext\(\) instead\.$#'
			identifier: shopware.cliContext
			count: 1
			path: src/Ucp/Command/SeedSmokeCatalogCommand.php

		-
			message: '#^Call to function method_exists\(\) with Shopware\\Core\\System\\SalesChannel\\SalesChannelContext and ''getCustomerGroupId'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Ucp/Customer/GuestCustomerContextProvisioner.php

		-
			message: '#^Do not use hash function, use class Shopware\\Core\\Framework\\Util\\Hasher instead\.$#'
			identifier: shopware.hasher
			count: 1
			path: src/Ucp/Identity/DoctrineDbalUcpOAuthStore.php

		-
			message: '#^Do not use hash function, use class Shopware\\Core\\Framework\\Util\\Hasher instead\.$#'
			identifier: shopware.hasher
			count: 1
			path: src/Ucp/Identity/ShopwareIdentityLinkingAdapter.php

		-
			message: '#^Using nullsafe property access "\?\-\>baseUri" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Ucp/Identity/ShopwareIdentityLinkingAdapter.php

		-
			message: '#^Method Swag\\AgenticCommerce\\Ucp\\Config\\UcpConfigRepositoryInterface@anonymous/tests/Integration/EmbeddedResponseListenerTest\.php\:69\:\:find\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: tests/Integration/EmbeddedResponseListenerTest.php

		-
			message: '''
				#^Call to deprecated method getEntityName\(\) of class Swag\\AgenticCommerce\\Content\\ProductExport\\Tracking\\Extension\\CustomerSalesChannelTrackingExtension\:
				tag\:v6\.7\.0 \- reason\:visibility\-change \- Becomes abstract$#
			'''
			identifier: method.deprecated
			count: 1
			path: tests/Unit/Content/ProductExport/Tracking/Extension/CustomerSalesChannelTrackingExtensionTest.php

		-
			message: '''
				#^Call to deprecated method getEntityName\(\) of class Swag\\AgenticCommerce\\Content\\ProductExport\\Tracking\\Extension\\OrderSalesChannelTrackingExtension\:
				tag\:v6\.7\.0 \- reason\:visibility\-change \- Becomes abstract$#
			'''
			identifier: method.deprecated
			count: 1
			path: tests/Unit/Content/ProductExport/Tracking/Extension/OrderSalesChannelTrackingExtensionTest.php

		-
			message: '''
				#^Call to deprecated method getEntityName\(\) of class Swag\\AgenticCommerce\\Content\\ProductExport\\Tracking\\Extension\\SalesChannelProductExportTrackingExtension\:
				tag\:v6\.7\.0 \- reason\:visibility\-change \- Becomes abstract$#
			'''
			identifier: method.deprecated
			count: 1
			path: tests/Unit/Content/ProductExport/Tracking/Extension/SalesChannelProductExportTrackingExtensionTest.php

		-
			message: '#^Multiple class/interface/trait is not allowed in single file$#'
			count: 1
			path: tests/Unit/UcpConfigServiceTest.php

		-
			message: '#^Test classes \(Swag\\AgenticCommerce\\Tests\\Unit\\InMemoryUcpConfigRepository\) must be flagged @internal to not be captured by the BC checker$#'
			identifier: shopware.internalClass
			count: 1
			path: tests/Unit/UcpConfigServiceTest.php

		-
			message: '#^Test classes \(Swag\\AgenticCommerce\\Tests\\Unit\\UcpConfigServiceTest\) must be flagged @internal to not be captured by the BC checker$#'
			identifier: shopware.internalClass
			count: 1
			path: tests/Unit/UcpConfigServiceTest.php

		-
			message: '#^Using nullsafe property access "\?\-\>active" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: tests/Unit/UcpConfigServiceTest.php

		-
			message: '#^Multiple class/interface/trait is not allowed in single file$#'
			count: 1
			path: tests/Unit/UcpExtensionCapabilityTest.php

		-
			message: '#^Test classes \(Swag\\AgenticCommerce\\Tests\\Unit\\PaymentHandlerRegistryStub\) must be flagged @internal to not be captured by the BC checker$#'
			identifier: shopware.internalClass
			count: 1
			path: tests/Unit/UcpExtensionCapabilityTest.php

		-
			message: '#^Test classes \(Swag\\AgenticCommerce\\Tests\\Unit\\PaymentHandlerStub\) must be flagged @internal to not be captured by the BC checker$#'
			identifier: shopware.internalClass
			count: 1
			path: tests/Unit/UcpExtensionCapabilityTest.php

		-
			message: '#^Class like namespace "Mcp\\Capability\\Attribute" does not follow PSR\-4 configuration in composer\.json$#'
			identifier: check.classnamespacepsr4
			count: 1
			path: tests/phpstan/McpTool.php
